 <div class"nav-items">
   </br>
         <%= link_to 'link 1', "" , class: "btn btn-default btn-danger", :id => "l1"%>
          <%= link_to 'link 2', "" , class: "btn btn-default btn-danger", :id => "l2"%>
           <%= link_to 'link 3', "" , class: "btn btn-default  btn-danger", :id => "l3"%>
        
      </div>